 :root {
  background: rgb(36, 36, 36);
 }
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

li {
  list-style-type: none;
}

.header {
  height: 15vh;
}

.header > nav {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: rgb(101, 101, 101);
  justify-content: space-around;
  align-items: center;
}
 nav > figure > img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
 }

 .finder > input {
  background-color: blue;
 }
