
:root {
    background: #e4e4e4;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style-type: none;
}

@font-face {
    font-family: Mythias;
    src: url(./fonts/Mythias.otf);
    font-display: block;
}

@font-face {
    font-family: Comf;
    src: url(./fonts/Comf.ttf);
    font-display: block;
}
@font-face {
    font-family: Heaters;
    src: url(./fonts/Heaters.otf);
    font-display: block;
}

.App {
    height: 100vh;
    font-family: Comf, sans-serif;
}
.header {
    height: 15vh;
    display: flex;
    flex-direction: row;
    padding-top: 1.5rem;
    padding: 0rem 6rem;
    justify-content: space-between;
    background: rgb(123,52,203);
    background: linear-gradient(90deg, rgba(123,52,203,1) 0%, rgba(184,68,161,1) 50%, rgba(244,84,111,1) 100%);
}
.header > h1 {
    font-family: Mythias, sans-serif;
    font-size: 3.5rem;
    text-align: center;
    padding-top: 0.7rem;
    color: white;
}

.nav {
    width: auto;
}

.nav > ul {
    display: flex;
    margin: auto;
    height: 15vh;
    gap: 4rem;
}

.nav > ul > li {
    height: 15vh;
    margin-top: 2rem;
}

.nav > ul > li > a {
    height: 15vh;
    color: white;
    text-decoration: none;
    font-family: Comf, sans-serif;
    transition: all 0.3s ease-in-out;
}

.addPlace {
    height: 100%;
    margin-top: 2rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.addPlace > h2 {
    text-align: center;
    padding: 1rem;
}
form {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form > fieldset {
    background-image: radial-gradient(circle farthest-side, #fceabbc2, #fcd260c2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 8rem;
    gap: 2rem;
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 0;
}

fieldset > legend {
    font-size: 1.5rem;
}

fieldset > div {
    display: flex;
    align-items: center;
    width: 100%;
    place-content: center;
}
fieldset > div > label {
    width: 100px;
}
fieldset > div > input {
    border: none;
    border-radius: 3px;
    width: 250px;
    height: 1.3rem;
}

form > input {
    height: 2rem;
    width: 12%;
    margin-top: 1rem;
    place-self: center;
    border: none;
    border-radius: 12px;
    background-image: radial-gradient(circle farthest-side, #fceabbc2, #fcd260c2);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.preview {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}

.preview > h3 {
    text-align: center;
}

.preview > figure {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 10px 50px 10px;
    border: 1px solid #BFBFBF;
    box-shadow: 10px 10px 30px rgb(0 0 0 / 80%);
    width: 700px;
    place-self: center;

}

.preview > figure > h4 {
    text-align: center;
    padding: 1rem;
    font-family: Heaters, sans-serif;
    font-size: 3rem;

}

figure > img {
    width: -webkit-fill-available;
}

.preview > figure > p {
    padding-top: 1.5rem;
    text-align: center;
}
.home {
    padding: 2rem 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.home > p {
    font-size: 2rem;
}
.gifHome {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 10px 50px 10px;
    border: 1px solid #BFBFBF;
    box-shadow: 10px 10px 30px rgb(0 0 0 / 80%);
    width: 375px;
    place-self: center;
}

.place {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.place > figure {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 10px 50px 10px;
    border: 1px solid #BFBFBF;
    box-shadow: 10px 10px 30px rgb(0 0 0 / 80%);
    width: 700px;
}

.place > figure > h3 {
    text-align: center;
    padding: 1rem;
    font-family: Heaters, sans-serif;
    font-size: 3rem;
}

.place > figure > p {
    margin-top: 2rem;
    text-align: center;
}

.places {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.places > h2 , p {
    text-align: center;
}

.placesGallery {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 80%;
    place-self: center;
    gap: 3rem;
}

.placesGallery > figure {
    width: 70%;
    background-color:white;
    padding:10px 10px 50px 10px;
    border:1px solid #BFBFBF;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
    place-self: center;
}

.placesGallery > figure > a > h3 {
    height: 3.5rem;
    text-align: center;
    margin-top: 1rem;
    color: rgb(8, 94, 224);
}
.placesGallery > figure > a > img {
    width: -webkit-fill-available;
}

.aNav:hover {
    transform: scale(1.2);
}

@media screen and (max-width:858px) {
    .header {
        padding: 0 2rem;
        flex-direction: column;
    }
    .header > h1 {
        font-size: 3rem;
    }
    .header > nav > ul {
        gap: 4rem;
        padding: 0 0.5rem;
    }
}