:root {
    --rojo: #c92a2a;
    --rosado: #a61e4d;
    --blue: #364fc7;
}

.second {
    border-bottom: 1px solid var(--rojo);
}

h1 {
    color: var(--rojo);
}

h2 {
    color: var(--rosado);
}

.first, .second {
    color: var(--blue);
}